@import "../../styles/styles.scss";

.AppHeader {
  .header {
    @include v-pad($gap-lg);
    .icon {
      @include r-pad($gap-lg);
      @include b-pad;
      font-size: 70px;
      vertical-align: middle;
    }
    .logo {
      @include h-center;
      justify-content: center;
      align-items: center;
      max-height: 100px;
    }
    .title {
      font-size: $txt-xl;
      text-align: center;
      text-transform: capitalize;
    }
    .subtitle {
      font-weight: lighter;
      font-size: $txt-ml;
      text-align: center;
      text-transform: lowercase;
    }
  }
}
